<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>tvws</name>
    <displayName><![CDATA[Web services PrestaShop module - Perithori]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[It extends the genuine web services by adding hooks]]></description>
    <author><![CDATA[tivuno.com]]></author>
    <tab><![CDATA[quick_bulk_update]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
</module>